image: node:12.22.0

stages:
  # also create a tests stage
  - test
  - lint

# Lets name our Job eslint, because that's what it's doing.
eslint:
  # tell eslint what stage it is. (This could also be build or test for example)
  stage: lint
  tags:
    - docker

  # What scripts do we want to run?
  script:
    # install eslint
    - npm i eslint
    # Run eslint
    - npm run lint

# Lets name our Job unitTest, because that's what it's doing.
unitTest:
  # tell eslint what stage it is. (This could also be build or test for example)
  stage: test
  tags:
    - docker

  # What scripts do we want to run?
  script:
    # install mocha-webpack
    - npm i mocha-webpack
    # Run tests
    - npm run test
