.datatable
{
  width: 100%;
  border: 1px solid #ccd3d9;
  border-spacing: 0;
  border-radius: 4px;
}
.datatable td
{
  padding: 8px;
  line-height: 18px;
  border-bottom: 1px solid #ccd3d9;
  /* font-size: 13px; */
}
.datatable th
{
  background: #eaedef;
  color: #64727a;
  font-weight: 500;
  border-bottom: 1px solid #ccd3d9;
  padding: 8px;
}
.datatable td + td, .datatable th + th {
    border-left: 1px solid #ccd3d9;
}
.datatable--title
{
  text-align: center;
}
