.el-button--primary {
    color: #fff;
    background-color: #1b7fc3 !important;
    border-color: #1b7fc3 !important;
}

.el-button--primary:focus, .el-button--primary:hover {
    background: #fff !important;
    border-color: #1782c5 !important;
    color: #1782c5 !important;
}