/* .title{
    font-size: 22px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    padding-top: 15px;
    margin-bottom: 30px;
}
.title__text{
    font-weight: 300;
}
.section{
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid #1782c5;
}
.section__link{
    color: #1782c5;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 2px 25px;
    text-decoration: none;
}
.router-link-active{
    font-weight: bold;
    border-bottom: 3px solid #1782c5;
} */


.title{
    font-size: 22px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: #999;
    margin-bottom: 30px;
}
.title__text{
    font-weight: 300;
}
.section{
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid #1782c5;
}
.section__link{
    color: #1782c5;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 2px 25px;
    text-decoration: none;
}
.router-link-active{
    font-weight: bold;
    border-bottom: 3px solid #1782c5;
}
