html, .body{
    margin: 0;
    height: 100%;
}
.app-overflow{
  overflow: scroll !important;
}
.app {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
}
.container
{
  width: 90%;
  margin: 0px auto;
  padding-top: 40px;
  margin-bottom: 100px;
  flex-direction: column;
  display: flex;
}
.box
{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header
{
  min-height: 68px;
  flex: 0 1 auto;
}

.box .content
{
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
.sendy-blue{
    color: #1782c5;
}
.sendy-orange{
    color: #f57f20;
}
.align-left {
  float: left !important;
}
.align-right {
  float: right !important;
}
.loading-margin {
  margin-top: 10%;
  margin-bottom: 20%;
}