.log-item {
    text-align: center;
    border: 0px solid #ccc;
    margin: 5px;
}

.sign-inner {
    max-width: 22rem;
    border-radius: 4px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
}

.sign-top {
    font-size: 1.3rem;
    line-height: 1.7em;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.sign-in-button {
    width: 90%;
    margin: 1em;
    background-color: #30487b;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: initial;
    letter-spacing: 1.1px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.sign-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    margin-bottom: 10px;
    text-align: center;
    color: #666;
}

.sign-holder {
    margin: 1em;
    display: block;
}

.sign-holder input:not([type="checkbox"]) {
    width: 100%;
}

.sign-holder .sign-holder__input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 30px;
}

.sign-smaller {
    font-size: 14px;
    color: #999999;
}

.sign-forgot-pass,
.sign-in-sign-up {
    text-align: center;
}

.sign-buttom__img {
    vertical-align: middle;
    width: 14px;
    padding-bottom: 3px;
    margin-right: 10px;
}

.sign-holder__link {
    color: #007FFF;
    text-decoration: none;
}

.dimen {
    width: 83%;
}

.sign-holder__pointer {
    cursor: pointer;
}

.sign-form {
    height: 42px !important;
    width: 110% !important;
}

.sign-in-error {
    color: #e08445;
    font-family: 'Nunito', sans-serif;
}

.sign-btn-color {
    border-width: 0px !important;
}
.bypass-verify-button{
  padding: 19px 20px 20px;
  margin-top: 16px;
  text-align: right;
}
.bypass-verify{
  color: #ecf0f1;
    background-color: #007FFF;
    border-color: #0062DB;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    transition: background-color 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}
.bypass-cancel{
  color: #ecf0f1;
    background-color: #007FFF;
    border-color: #0062DB;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    transition: background-color 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}
.signup-validation-description{
  font-size: 15px;
}
