.freight-vehicles-outer{
  background-color: #fff;
  border-radius: 5px;
  min-width: 16%;
  max-height: 70%;
  overflow-x: hidden;
}
.freight-vehicles-inner{
  margin: 8%;
}
.ongoing-trucks-label{
  color: #909399;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}
.ongoing-trucks-card{
  font-size: 13px;
  margin-top: 5%;
  margin-bottom: 9%;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.ongoing-trucks-details-container{
  display: flex;
  cursor: pointer;
  padding: 7px;
}
.ongoing-trucks-card.active{
  background-color: #E8F3FC;
  border-radius: 3px 3px 3px 3px;
  color: #527CBD !important;
}
.truck-details-image{
  width: 22px;
  height: 18px;
  margin-top: 0px;
  margin-right: 7px;
}
.truck-registration-number{
  font-size: 13px !important;
  line-height: 20px;
}
