.homeview--outer {
  position: absolute;
  margin-top: 10px;
  left: 10px;
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
}
.homeview--inner {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.homeview--input-bundler {
  padding-bottom: 15px;
  /* width: 100%; */
  display: flex;
}
.homeview--input-bundler__img,
.homeview--input-bundler__img-right,
.homeview--input-bundler__input {
  display: flex;
}
.homeview--input-bundler__img {
  max-width: 10px;
  height: 10px;
  position: relative;
  top: 15px;
  left: -15px;
}
.homeview--input-bundler__input {
}
.homeview--input-bundler__waypoints {
  margin-top: -10px;
  padding-left: 10px;
}
.homeview--stops {
  text-decoration: none;
  color: #1782c5;
  font-size: 13px;
  padding-top: 10px;
}
.homeview--row {
  padding: 10px 20px;
  font-size: 13px;
}
.homeview--row__more-destinations {
  padding-left: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.homeview--row__font-awesome {
  padding-right: 10px;
  font-size: 13px;
}
.homeview--add {
  text-decoration: none;
  color: #1782c5;
  font-size: 13px;
  padding-left: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
.slide-fade-enter-active {
  transition: all 0.8s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter {
  transform: translateX(20px);
  opacity: 0;
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
.slide-fade-move {
  transition: transform 1s;
}
.homeview--input-bundler__img-right {
  max-width: 10px;
  height: 10px;
  position: relative;
  top: 15px;
  left: 30px;
  cursor: pointer;
}
.homeview--row__font-awesome.homeview--input-bundler__img-right {
  visibility: visible;
}
.homeview--row__font-awesome.homeview--input-bundler__img-right:hover {
  visibility: visible !important;
}
.homeview--input-bundler__destination-input {
  margin-right: -20px;
}
.homeview--form__scrollable {
  margin-right: -20px;
  padding-right: 30px;
  max-height: 9.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.home-view-vendor-and-optins-wrappper{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  margin-right: -20px;
  padding-right: 10px;
}
.homeview--input-bundler__destination-short-input {
  margin-right: unset;
}

.home-view-notes-wrapper {
  margin-bottom: 22px;
}
.orders-loading-container {
  height: 1rem;
  margin-bottom: 10px;
}
.orders-loading-container--completion {
  margin-bottom: 0px;
}
.homeview--form__header {
  color: #555;
  text-transform: uppercase;
  font-size: 10.2px;
  margin-bottom: 10px;
}
.homeview--form__header-lower {
  margin-top: 20px;
  margin-bottom: -10px;
}
.home-view--form__seperator {
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px 20px 10px 40px;
}
.home-view--seperator__vendors {
  margin: unset;
}
.home-view-vendor-classes {
  margin-top: 25px;
}
.home-view-vendor-classes-menu--img,
.home-view-vendor-classes-menu--span {
  display: flex;
}
.home-view-vendor-classes-menu--img {
  max-width: 20px;
  padding: 0 5px;
}
.home-view-vendor-classes-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}
.homeview-locations-options{
  display: flex;
}
.homeview-locations-options--add-destination{
  flex: 2 2 auto;
}
.homeview-locations-options--set-return{
  flex:1 1 auto;
  margin-left: 19px;
}
.payments-orange{
  color: #f57f20;
}
.home-view-vendor-types-item--vendor-wrapper__vendor{
  flex-direction: column;
  flex:1;
}
.home-view-vendor-types-item-vendor--vendor-formal-name{
  font-size: 14px;
}
.home-view-vendor-types-item-vendor--vendor-local-name{
  font-weight: 500;
}
.home-view-vendor-types-item-vendor--vendor-formal-name,
.home-view-vendor-types-item-vendor--vendor-local-name,
.home-view-vendor-types-item--cost-wrapper__cost,
.home-view-vendor-types-item--cost-wrapper_time{
  padding: 3px;
}
.home-view-truck-options-wrapper{
  width: 100%;
  font-size: 14px;
}
.home-view-truck-options-inner-wrapper{
  padding: 10px;
}
.home-view-truck-options--load-units .el-input-group__append, .home-view-truck-options--load-units .el-input-group__prepend {
  width: 70px !important;
}
.home-view-truck-options-divider{
  border: 1px solid #E1E3E8;
  margin: 0 10px 10px 10px;
}
.home-view-truck-options-label{
  color: #212120;;
  font-weight: 300;
  padding: 5px 0;
}
.el-popper[x-placement^=bottom]{
  margin-top: 0px !important;
  background-color: #1782c5 !important;
  border: 0px solid #1782c5;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  display: none;
}
.el-select-dropdown__item, .el-select-dropdown__item.hover, .el-select-dropdown__item.selected{
  color: #ffffff !important;
  background-color:#1782c5 !important;
}
.el-select-dropdown__list{
  padding: unset !important;
}
.home-view-truck-options-inner--load-weight{
  margin-right: 5px;
}
.body{
  overflow: hidden;
}
.home-view-truck-options-inner--load-weight .el-input-group__append, .el-select-dropdown__list span{
  font-size: smaller !important;
}
.extended-options-wrappper{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
  margin-right: -20px;
  padding-right: 10px;
}
