button > * {
  position: relative;
}

button span {
  display: block;
  padding: 12px 24px;
}

.button-primary {
  color: #ecf0f1;
  background-color: #1782c5;
  border-color: #1b7fc3;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 4px;
  height: 40px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}

.button-primary:focus,
.button-primary:hover {
  background: #285e8e;
  border-color: #285e8e;
  color: #ecf0f1;
  cursor: pointer;
}

.button--primary-inactive {
  font-size: 13px;
  letter-spacing: 0.01em;
  cursor: not-allowed;
  /* background: rgba(44, 130, 197, 0.7); */
  background: rgba(0,0,0,0.50);
  position: relative;
  display: block;
  border-radius: 4px;
  height: 40px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  border: 1px solid #69a6d8;
  border: 1px solid rgba(0,0,0,0.50);
}
.inactive-1 {
  background: #BDBDBD !important;
  border: 1px solid #BDBDBD !important;
}
.inactive-2 {
  background: #dedbdb !important;
  border: 1px solid #dedbdb !important;
}
.button-primary--naked {
  color: #1782c5;
  background-color: #fff;
  border-color: #f6f6f6;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 4px;
  height: 40px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}

.button-primary--naked:focus,
.button-primary--naked:hover {
  background: #285e8e;
  border-color: #285e8e;
  color: #ecf0f1;
}

.form-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
  margin-right: 30px;
}
.form-control:focus {
  border-color: #1782c5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}

.input-control:focus {
  border-color: #1782c5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.textarea-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: 0;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}
.textarea-control:focus,
.textarea-control:hover,
.textarea-control:active {
  border: 1px solid #1782c5;
}
.input-checkbox,
.input-radio {
  height: 20px;
  width: 20px;
  position: relative;
}

.input-checkbox:after,
.input-radio:after {
  content: "\00D7";
  display: block;
  background: #ecf0f1;
  background-image: url("../img/checked-symbol.png");
  pointer-events: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  color: transparent;
  transition: 0.25s all ease-in-out;
  border-radius: 3px;
  line-height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border-width: 4px;
  border: 1px solid #dcdfe6;
}

.input-radio:after {
  border-radius: 50%;
}
.input-checkbox:checked:after,
.input-radio:checked:after {
  background-color: #1782c5;
  border: 1px solid #1782c5;
  color: transparent;
  background-position: center;
}
.input-checkbox:hover:after,
.input-radio:hover:after {
  border-color: #1782c5;
}

.btn-save {
  font-size: 13px;
  letter-spacing: 0.01em;
  margin-left: 30px;
  margin-top: 20px;
  width: 68px;
  height: 27px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 5px;
  float: right;
  margin-right: 5px;
  font-size: 11px;
}

.btn-save:hover{
  cursor: pointer;
}

.btn-submit {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}
.btn-submit:focus,
.btn-submit:hover {
  background: #285e8e;
  border-color: #285e8e;
  color: #ecf0f1;
}

.btn-cancel {
  background-color: transparent !important;
  -webkit-appearance: none;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}

.btn-cancel:focus,
.btn-cancel:hover {
  background: #fff;
  background: #285e8e;
  border-color: #285e8e;
}

.amount--table-format {
  text-align: right !important;
}
.amount--table-format .cell {
  text-align: right !important;
}

/* element table css overiden */
.el-table--border {
  border-radius: 5px;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #fdfdfd !important;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f6f6f6 !important;
}
.el-table,
.el-table__expanded-cell {
  background-color: #f9f9f9 !important;
}
.el-table__row a {
  color: #1782c5 !important;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #1782c5 !important;
  color: #fff !important;
}
.el-dropdown-menu__item:focus a,
.el-dropdown-menu__item:not(.is-disabled):hover a {
  color: #fff !important;
}
.el-table th > .cell {
  font-weight: normal;
}

.el-pagination {
  white-space: nowrap;
  padding: 20px;
  color: #555 !important;
  font-weight: 400 !important;
}

.el-pagination button,
.el-pagination span:not([class*="suffix"]) {
  height: 40px !important;
  color: #555 !important;
}
.el-pagination__total {
  font-size: 14px !important;
  margin-right: 10px !important;
  font-weight: normal !important;
  color: #555 !important;
}
.el-pagination .el-select .el-input .el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}
.el-pagination__sizes .el-input .el-input__inner:hover,
.el-pagination__sizes .el-input .el-input__inner:focus {
  border-color: #1782c5;
}
.el-pagination__editor.el-input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px !important;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  position: relative;
  font-size: 13px;
}
.el-pagination__editor.el-input:hover,
.el-pagination__editor.el-input:focus {
  border-color: #1782c5;
}

.el-pagination__editor.el-input .el-input__inner {
  border: none !important;
}

.el-select-dropdown__item.selected {
  color: #1782c5 !important;
  font-weight: normal !important;
  background: #fff !important;
}

.el-select-dropdown__item:hover,
.el-select-dropdown__item:focus {
  color: #fff !important;
  background: #1782c5 !important;
  font-weight: normal !important;
}

.el-select-dropdown__item {
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555 !important;
}

.el-pagination__total {
  padding-top: 6px;
  padding-right: 20px;
  color: #1782c5 !important;
  padding-left: 20px;
  padding-bottom: 6px;
}
span.el-pagination__jump {
  padding-right: 20px;
  color: #1782c5 !important;
  padding-left: 20px;
}
.el-pagination__editor.el-input {
  margin-left: 20px;
}

.el-pager {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.el-pager li.active {
  font-size: 16px !important;
  color: #1782c5 !important;
}

.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
  font-size: 16px !important;
}

.el-table thead {
  color: #606266 !important;
}

.el-date-table td.today span {
  color: #2c82c5 !important;
  font-weight: 700;
}

.el-date-picker__header-label.active,
.el-date-picker__header-label:hover {
  color: #555 !important;
  font-size: 15px !important;
  font-weight: normal !important;
}

.el-picker-panel {
  color: #2c82c5 !important;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
  font-family: "Rubik", sans-serif !important;
}
.el-date-table td span {
  color: #555;
}

.el-date-table td.next-month,
.el-date-table td.prev-month .el-date-table td span {
  color: #f1f1f1 !important;
}
.el-date-table td.current:not(.disabled) span {
  color: #fff !important;
  background-color: #2c82c5 !important;
  font-weight: normal !important;
}

.el-table {
  color: #555 !important;
  font-size: 13px !important;
}

.el-table .cell {
  line-height: 20px !important;
}

.el-table td,
.el-table th {
  padding: 10px 0 !important;
}

.el-pagination__total {
  font-size: 13px !important;
}

.el-date-picker {
  width: 270px !important;
}

.el-date-picker table {
  table-layout: fixed;
  width: 244px !important;
}

.el-date-table td div {
  height: 0px !important;
}

.el-table--border td,
.el-table th.is-leaf {
  border-bottom: 1px solid #dcdfe6 !important;
}

.el-table--border td,
.el-table--border th,
.el-table--border th {
  border-right: 1px solid #dcdfe6 !important;
}

.el-table--border,
.el-table--group {
  border: 1px solid #dcdfe6 !important;
}

.el-date-picker__header-label {
  font-size: 15px !important;
  font-weight: normal !important;
}
*:focus {
  outline: none;
}

.el-checkbox,
.el-radio {
  font-weight: normal !important;
}

.el-checkbox__label,
.el-radio__label {
  font-size: 13px !important;
}

.el-notification__title {
  font-size: 14px !important;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333 !important;
  font-weight: 400 !important;
}
.el-notification__content {
  font-size: 13px !important;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555 !important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #1782c5 !important;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #1782c5 !important;
  background: #1782c5 !important;
}

.home-view-truck-options-inner--load-weight .el-input-group__append{
  width: 28%;
  background-color: #1782c5 !important;
  color: #ffffff !important;
  border-color: transparent !important;
  border-left: 1px solid transparent !important;
  border-radius: 0px;
}
.home-view-truck-options-inner--load-weight .el-select .el-input__inner{
  border-radius: 0;
}
.home-view-truck-options-inner--load-weight .el-input-group--append .el-select .el-input.is-focus .el-input__inner,
.home-view-truck-options-inner--load-weight .el-input-group__append div.el-select .el-input__inner, .el-input-group__append div.el-select:hover .el-input__inner{
  border: 5px solid #1782C5;
}

.el-input-group__append,
.el-input-group__prepend {
  background-color: #fff !important;
  color: #555 !important;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #dcdfe6 !important;
  border-radius: 4px;
  padding: 0 14px !important;
  width: 1px;
  white-space: nowrap;
}

.el-notification__content p {
  margin: 0;
  text-align: left;
  padding-right: 10px;
}
.el-progress__text{
  font-size: 11px !important;
}
.el-progress-circle{
  height: 40px !important;
  width: 40px !important;
}
.el-popover{
    background-color: #1782c5;
    color: #fff !important;
}
.el-popper[x-placement^=right] .popper__arrow::after{
    border-right-color: #1782c5 !important;
}
.el-popover__title{
    color: #fff !important;
}
.bg-grey{
    width: 100%;
    height: 40px;
    display: inline-table;
    background-color: #f3f4f5;
    padding-bottom: 5px;
}

.el-checkbox__input.is-checked+.el-checkbox__label{
  color:#f57f20 !important;
}
.home-view-truck-options-inner--full-select .el-select{
  width: 100%;
}
.home-view-truck-options-inner--load-weight .el-select-dropdown__list{
  padding: unset;
}
.home-view-truck-options-inner--number-of-loaders .el-input-number__decrease, .home-view-truck-options-inner--number-of-loaders .el-input-number__increase{
  background-color: #1782c5;
  color:#ffffff !important;
}
.home-view-truck-options-inner--number-of-loaders .el-input-number{
  width: 37%;
}
.home-view-truck-options-inner--full-select .el-input__inner{
  color: #1782c5;
}
.home-view-truck-options-inner--number-of-loaders .el-input-number .el-input__inner{
  border: 1px solid #1782c5;
}
.el-button.download_history{
  color: #ecf0f1 !important;
  background-color: #1782c5 !important;
  border-color: #1b7fc3 !important;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 4px;
  height: 50px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  width: 90% !important;
}
.updateNotificationsDialog > div > div.el-dialog__body{
  padding-top: 2% !important;
}
.updateNotificationsDialog > div > div.el-dialog__header{
  padding: 0px 20px 10px !important;
}
.scheduleDialog > div{
  width: 23% !important;
}
.el-dialog{
  max-height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}
.el-dialog::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #878787;
}

.el-dialog::-webkit-scrollbar {
  width: 10px;
}

.el-dialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #1782C5;
  border: 1px solid #000;
}
.el-upload--picture-card {
  width: 96% !important;
  height: 227px !important;
}
.el-upload-dragger {
  height: 200px !important;
}
.el-upload-list__item-name {
  display: none;
}
.requestShipmentOptions > .el-dialog > .el-dialog__header{
  padding: 0 !important;
}
.el-upload-list__item{
  margin-top: 0;
  margin-bottom: -2%;
}
.documentOptions > div {
  margin-top: 8% !important;
  width: 80% !important;
  height: 900px;
}
div.pac-container {
  z-index: 99999999999 !important;
}
.freight-rating > .el-rate__item > .el-rate__icon{
  font-size: 45px !important;
}
.el-upload-list__item-name{
  display: none !important;
}
.promocode-input >.el-input-group__append {
  color: #fff !important;
  background: #527CBD !important;
  border-radius: 8px;
  vertical-align: inherit;
}
.promocode-redeem > .el-input__inner {
  margin-left: -50px;
  color: white;
  -webkit-appearance: none;
  width: 6em;
  background: #527CBD;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
}
.promocode-redeem {
  margin-left: -50px;
  color: white;
  -webkit-appearance: none;
  width: 6em;
  background: #527CBD;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
}
.promocode-redeem-input > .el-input__inner{
    border-radius: 8px 0 0 8px;
    flex-grow:2;
    border:none;
}

.promocode-redeem-input > .el-input__inner:focus {
  outline: none;
}
.redeem-button span {
  display: block;
  padding: 0;
}
.el-button--primary.is-disabled:hover, .button--primary-inactive:hover, .button--primary-inactive:focus {
  color: #fff !important;
  background-color:  rgba(0,0,0,0.50) !important;
  border-color: rgba(0,0,0,0.50) !important;
  cursor: not-allowed;

}
