.container-small {
  width: 435px;
  margin: 5% auto;
}
.payment--header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.paymethod {
  margin: 40px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ebeef5;
  margin-bottom: 20px;
  padding-bottom: 1px;
}
.paymethod--link {
  color: #555;
  text-transform: capitalize;
  font-size: 16px !important;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  flex: 1;
}
.paymethod--link:hover,
.paymethod--link:focus {
  color: #1782c5 !important;
}
.paymethod--link.router-link-active {
  color: #1782c5;
  font-weight: normal;
  border-bottom: 3px solid #007FFF;
}

.payment--loading-title {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  line-height: 34px;
}
.payment--loading-content {
  height: 200px;
  background: #3b8a87;
}
.paymemt--mpesa-loader-actions {
  margin-left: 25px;
  margin-right: 25px;
}
.payment--mpesa-image {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.payment--mpesa-image img {
  width: 100px;
  height: 100px;
}

.payment--mpesa-loader,
.payment--mpesa-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.payment--mpesa-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #2c82c5;
  border-right: 1.1em solid #f3f3f3;
  border-bottom: 1.1em solid #f3f3f3;
  border-left: 1.1em solid #f3f3f3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.payment--cvv-info-wrap {
  position: absolute;
  width: 20vw;
  left: 10vw;
  top: 0;
}
.paymentbody--input-small {
  min-height: 2rem;
}
.paymentbody .input-control-small {
  width: 30%;
  position: relative;
}
.paymentbody .input-control-big {
  width: 60%;
}
.paymentbody--input-checkbox {
  margin-right: 10px;
}

.savecard--desc-wrap {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -35px;
}
.savecard--desc-title {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 5px;
  height: auto;
  line-height: 15px;
}
.sendy_payments_form_cvv_title {
  font-size: 14px;
}
.sendy_payments_form_cvv_description {
  font-size: 14px;
  margin-top: 20px;
}
.sendy_payments_form_cvv_body img {
  width: 200px;
}
.tracking-back-button{

    top: 25%;
    position: absolute;
    left: 20%;
    display: flex;

}


    .edit-back {
      width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: .3s;
          /* box-shadow: 0 0 6px rgba(0, 0, 0, .12); */
          line-height: 50px !important;
          cursor: pointer;
          border: 1px solid #555;
          text-align: center;
          font-size: 23px;
    }
