.sign-up-content
{
  display: flex;
  flex-direction: row !important;
}
.column
{
  display: flex;
  flex-direction: column;
}
.col-help
{
  flex: 1;
}
.col-form
{
  flex: 2;
  padding-right: 40px;
}
.sign-up-card{
  -webkit-box-flex: 2;
  flex: 1;
  padding-right: 11%;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  border-right: 1px solid #d8dfe6;
}
.sign-up-logo {
  width: 83%;
  display: block;
  margin: auto;
}
.sign-up-help-card{
  -webkit-box-flex: 1;
  flex: 2;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  padding-right: 9%;
}
.sign-up-main{
  /* border: 1px solid #d8dfe6; */
  border-radius: 4px;
  margin: 1rem auto;
  padding: 2rem;
  font-family: 'Nunito', sans-serif;
  width: 90% !important;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 1%;
}
.sign-up-text-inner{
 padding-left: 8%;
 width: 88%;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 20px;
 color: #979797;
 white-space: initial;
 font-weight: 300;
 margin-top: 3%;
}
.radio-options{
  width: 100%;
  margin-left: 0px !important;
  font-size: 40px;
  color: #000000;
  font-style: normal;
  margin-bottom: 5%;
  border: 1px solid #d8dfe6;
  border-radius: 0px;
  margin: 1rem auto;
  padding: 2rem;
  padding: 1rem;
  width: 102%;
  border-radius: 6px;
  padding-top: 1%;
}
.sign-up--extra{
  font-size: 19px;
  color: #000000;
  font-weight: 400;
}
.sign-up--label{
 font-weight: 500;
 font-size: 23px;
 line-height: 31px;
 color: #000000;
}
.business-benefits--header{
 margin-top: 8%;
 margin-bottom: 10%;
 font-weight: 500;
 font-size: 18px;
 line-height: 31px;
 color: #000000;
 margin-bottom: 0%;
}
.business-benefits--description{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #000000;
  font-weight: 300;
}
.sign-up-back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    line-height: 50px !important;
    cursor: pointer;
    border: 1px solid #555;
    text-align: center;
    font-size: 23px;
    position: static;
}
.el-radio__input{
  border: none !important;
}
.is-checked{
  border: 2px solid #0062DB;
  background-color: #F8FAFF;
  border-radius: 6px;
}
.descript_active{
  color: #0062DB;
}
.vendor-types {
  height: 43px;
  min-width: 63px;
  padding: 20%;
  cursor: pointer;
}
.vendors-outerline{
  display: flex;
  justify-content: space-between;
  width: 67% ;
  margin-left: 2%;
  margin-top: 2%;
}
.vendor-cards{
  border: 1.0945px solid #D8D8D8;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 41% !important;
  margin-right: 10% !important;
}
.vendor_active{
  background: #EDF8FF;
  border: 2px solid #0062DB;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  animation: flip-scale-down-diag-2 0.5s linear ;
}
@keyframes flip-scale-down-diag-2 {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}
.sign-up-terms{
  margin-bottom: 2%;
  font-size: 13px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}
.info{
  font-size: 12px;
  margin-bottom: 6%;
}
.sign-up-data-error {
  margin-right: 3%;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  color: #e08445;
  text-align: left;
}
.active_tab{
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
.sign-up-main--inner{
  padding-top: 0%;
}
.cards--align{
  margin-top: 2%;
}
.extra-text{
  font-weight: 600;
  font-size: 17px !important;
  text-align: center;
}
.benefits-text{
  padding-left: 5%;
}
.align-benefits{
  align-items:center;
}
.sign-up-btn-outer{
  margin-top: 9%;
  margin-left: 0;
}
.sign-up-order-type {
  margin-top: 15px;
  margin-bottom: 15px;
}
.unit-submit{
  width: 112% !important;
}
.sign-up--info{
 text-align: center !important;
 color: #827E7E;
 margin-top: 8%;
}
.signup-holder__link{
  color: #0062DB;
}
.account-details--wrapper{
  width: 100% !important;
}
.account-type--selector {
  display: flex;
}
.verify-code-btn{
  width: 100%;
}
.verify-code-holder{
  margin-top: 9%;
}
.input--label{
  margin-bottom: 2%;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}
.radio--label {
  margin-right: 10px;
}
.verification-code-info{
  margin-bottom: 2%;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 8%;
}
.verify-acc-btn{
  width: 100%;
}
.verify-acc-holder{
  margin-top: 9%;
}
.primary-vehicle-details{
  margin-bottom: 2%;
  font-size: 14px;
  font-weight: 200;
  margin-top : 10%
}
.next-btn-holder{
  margin-top: 9%;
}
.next-btn{
  width: 100%;
}
.sign-up-terms{
  text-align:center;
}
.sign-up-container {
 width: 96%;
 margin: 0px auto;
 flex-direction: column;
 display: flex;
}
.sign-up-details-section{
 padding-left: 9%;
 border: 1px solid #d8dfe6;
 border-radius: 4px;
 margin: 4rem auto;
 padding: 3rem;
 font-family: 'Nunito', sans-serif;
 width: 67% !important;
 padding-top: 1%;
 margin-top: 3%;
}
.el-radio.is-bordered{
 width: 47.5%;
}
.partners-brand-text{
 color: #007FFF;
}
.logo-display{
  height: 75px;
  margin: 0px 2.5% 0px 2.5%;
}
.logo-outer{
  width: 100%;
}
.verify-code-header{
 color: #000000;
 font-weight: 400;
 font-size: 13px;
}
.verification-code-recepient{
 color: #000000;
 font-weight: 400;
}
.el-checkbox__label,
.el-radio__label {
  font-size: 13px !important;
}

@media (max-width: 500px) {
  .el-radio.is-bordered {
    width: 45.5%;
    display: inline-block;
  }
  .sign-up-details-section {
    margin:20px auto;
    padding: 15px;
  }
  .sign-up--extra {
    text-align: center !important;
  }
  .sign-up-main {
    width: 80% !important;
    margin: 5% auto;
  }
  .sign-up-help-card {
    display: none;
  }
}
