.transporters-main{
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  width: 97% !important;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 3%;
}
.transporters-container {
 width: 96%;
 margin: 0px auto;
 flex-direction: column;
 display: flex;
}
.transporters-main--inner{
  padding-top: 0%;
}
.transporters-content
{
  display: flex;
  flex-direction: row !important;
}
.transporters-find-section{
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  margin-right: 2%;
  border: 1px solid #d8dfe6;
  padding: 2rem;
  height: 40%;
}
.transporters-results-section{
  -webkit-box-flex: 2;
  flex: 1;
  padding-right: 11%;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
}
.transporters-details-section{
  -webkit-box-flex: 2;
  flex: 2.5;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  padding-left: 2rem;
  padding-right: 0rem;
}
.freight-input--label{
  margin-bottom: 2%;
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.next-terms-holder {
  margin-top: 6%;
}
.terms-btn-color {
 border-width: 0px !important;
}
.next-freight-btn {
  width: 100%;
}
.transporters-pickup-time {
  background-color: white !important;
  width: 100% !important;
}
.transporters-select .el-select{
  width: 100%;
}
.transporters-select .el-input__inner{
  color: #007FFF;
}
.freight-load-weight{

}
.tonage-value-text{
  color: #555 !important;
  padding-left: 10px;
  width: 20% !important;
  font-size: 12px;
  font-style: italic;
}
.freight-load-weight{
  width: 75% !important;
  font-style: italic;
}
.transporters-filters {
  display: flex;
}
.quote-flex{
  flex: 1;
}
.search-flex{
  flex: 1;
  margin-right: 2%;
}
.request-quote-btn{
  width: 53%;
}
.request-quote-btn-color {
  color: #0062DB;
  border-width: 1px !important;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 4px;
  height: 40px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  border-color: #0062DB;
}
.freight-terms{
  margin-top: 6%;
  font-size: 14px;
  font-weight: 200;
  color: #000;
}
.transporter-listing{
  margin-top: 2%;
}
.transporter-detail{
  border: 1px solid #d8dfe6;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 3%;
}
.transporter-name{
  color: #0062DB;
  margin-left: 5%;
}
.verification-success{
  color: #EA7125;
  margin-left: 1%;
}
.select-transporter{
  margin-right: 1.5%;
}
.transporters-highlight{
  margin-top: 2%;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}
.highlight-icon{
  color: #000000;
  margin-right: 3%;
}
.truck-add-info{
  margin-top: 0.5%;
}
.truck-add-info-align{
  width: 24%;
  margin-left: 4%;
}
.trans-completed_orders{
  width: 61%;
}
.view-transporter-info{
  color: #0062DB;
  font-weight: bold;
}
.truck-add-rating-align{
  margin-left: 4.3%;
  width: 30%;
}
.transporters-img {
  height: 45%;
  vertical-align: middle;
  margin-bottom: 7px;
}
.transporters-quotes-input--label{
  margin-bottom: 3%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 66%;
}
.logistics-tab{
  margin-right: 35%;
}
.declineDocumentOptions > div {
  margin-top: 30vh !important;
  width: 28% !important;
}
.decline-documemt-input {
  margin: 0px 10px 10px 10px;
}
.decline-documemt-extend {
  padding-right: 20px;
}
.decline-button-align {
  text-align: right;
}
.decline-input{
  height: 40px !important;
  width: 30%;
}
.decline-action--slide-button {
  margin: 0px 10px 10px 10px;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 1.1px;
  background-color: #EA7125;
  color: #fff;
  width: 100%;
  height: 46px;
  cursor: pointer;
  border: 0px solid;
  border-radius: 2px;
  margin-top: 4%;
  margin-right: 6%;
}
.decline-text-option{
  margin-bottom: 8%;
  margin-left: 3%;
}
.transporter-listing .el-checkbox__input {
  padding-bottom: 8% !important;
  display: none;
}
.transporter-listing .el-checkbox__label {
  width: 100%;
}
.request-quote-header{
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.transporters-no-highlight{
  color: #000000;
}
.quote-action--slide-button {
  margin: 0px 10px 10px 10px;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 1.1px;
  background-color: #0062DB;;
  color: #fff;
  width: 94%;
  height: 46px;
  cursor: pointer;
  border: 0px solid;
  border-radius: 2px;
  margin-top: 4%;
  margin-right: 6%;
}
.transporters-content .el-dialog__body{
  padding: 30px 30px !important;
}
.transporters-segment{
  width: 94% !important;
  margin-left: 0% !important;
}
.back-freight-btn{
  font-size: 14px;
  font-weight: 200;
  color: #000;
  cursor: pointer;
}
.transporter-summary-data{
  width: 89%;
  background: #F1F1F1;
}
.align-contacts-data{
  margin-top: 6%;
}
.quote-btn{
  width: 72%;
  margin-bottom: 6%;
}
.financing-btn{
  width: 72%;
  background-color: #EA7125 !important;
  border-color: #EA7125 !important;
}
.transporters-quote-section{
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: flex;
  -webkit-box-direction: normal;
  margin-right: 2%;
  padding: 2rem;
  width: 2%;
}
.check-tranporters{
  color: #0062DB;
}
.transporter-doucuments-title{
  color: #0062DB;
}
.truck-title-info{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 2%;
}
.transporter-vehicle-info{
  font-size: 12px;
  font-weight: 200;
  color: #000;
  margin-top: 2%;
}
.vehicles-split{
  border-bottom: 1px solid #BBB9B9;
  width: 90%;
  margin-top: 3%;
}
.transporter-name-inner{
  margin-top: 4%;
  font-size: 15px;
}
.reviews-section{
  margin-bottom: 2%;
}
.reviews-outer{
  width: 85%;
}
.freight-order-details-wrapper {
  width: 95%;
  display: inline-block;
}
.freight_order_details_map {
  width: 33%;
  display: inline-block;
  float: left;
  margin-top: 2%;
}
.back-freight-orders{
  margin-bottom: 3%;
}
.order_details_desc {
  display: inline-block;
  padding-left: 2;
  font-size: 14px;
  width: 61%;
}
.order_details_price {
  margin-top: 1%;
  font-size: 15px;
  margin-bottom: 6%;
  color: #000000;
}
.order_details_desc_item {
  margin-top: 10px;
}
.order_details_desc_item--no-space {
  margin-top: unset;
}
.order_details_desc_image {
  width: 13px;
  height: auto;
  margin-top: 10px;
  margin-right: 5px;
}
.order-details-schedule-time{
  margin-top: 5%;
}
.freight-order-info-extra{
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 14px;
}
.order-info-header{
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-weight: 500 !important;
}
.rider_details_wrap {
  width: 34%;
  float: right;
  display: inline-block;
}
.transporter-info-extra{
  margin-bottom: 2%;
  font-size: 14px;
}
.transporter-infor--header{
  margin-top: 1%;
  font-size: 15px;
  margin-bottom: 4%;
  color: #000000;
}
.view-transporter-mark{
  margin-top: 6%;
  color: #0062DB;
  cursor: pointer;
}
.freight-border-line{
  border-bottom: 1px solid #f0f0f0;
  width: 94%;
}
.freight-orders-main-summary{
  margin-bottom: 2%;
  min-height: 300px;
}
.order-order-documents{
  width: 94%;
}
.align-documents-data{
  margin-top: 4%;
  margin-bottom: 2%
}
.orders-freight-documents{
  margin-left: 5%;
}
.freight-documents-name{
  width: 20%;
  font-size: 15px;
  margin-top: 1%;
}
.freight-documents-approve{
  width: 38%;
  font-size: 15px;
  margin-top: 1%;
}
.freight-documents-date{
  width: 38%;
  font-size: 15px;
  margin-top: 1%;
}
.freight-documents-title{
  width: 38%;
  font-size: 15px;
  margin-top: 1%;
  font-weight: 500;
  color: #0062DB;
}
.view-transporter-documents{
  color: #0062DB;
  cursor: pointer;
}
.documents-highlight{
  font-size: 12px;
  font-weight: 200;
  color: #000;
  margin: 2%;
}
.view-freight-document{
  color: #0062DB;
  cursor: pointer;
}
.freight-create-order{

}
.freight-approve-doc{
  border-width: 0px !important;
  width: 60%;
  background-color: #EA7125 !important;
  border: #EA7125 !important;
}
.freight-decline-doc{
  color: #EA7125;
  width: 60%;
  border-width: 1px !important;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 4px;
  height: 40px;
  transition: background-color 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  border-color: #EA7125;
}
.doc-detail{
  border: 1px solid #d8dfe6;
  border-radius: 1px;
  min-height: 96px;
}
.document-text-option {
  text-align: left;
  margin: 0px 10px 10px 10px;
  line-height: 20px;
}
.document-view-inner{
  height: 500px !important;
}
.freight-approval-reason{
  margin-top: 2%;
  margin-left: 6%;
}
.freight-decline-reason{
  margin-top: 7%;
  color: #F44B54;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}
.transporter-detail--info{
  border: 1px solid #d8dfe6;
  padding: 1rem;
  border-radius: 4px;
}
.sendQuoteOption > div {
    margin-top: 30vh !important;
    width: 33% !important;
}
.declineDocumentOptions >.el-dialog >.el-dialog__body {
  margin: 4% !important;
}
.uploadDocumentOptions >.el-dialog >.el-dialog__body {
    margin: 4% !important;
    margin-top: 0% !important;
}
.uploadDocumentOptions > div {
  margin-top: 10vh !important;
  width: 28% !important;
}
.add-upload-demo > .el-upload > .el-upload-dragger{
  width: 94% !important;
  margin-left: 3%;
}
.upload-new-doc--outer{
  margin-bottom: 9%;
}
.requestShipmentOptions > div {
  margin-top: 18vh !important;
  width: 30% !important;
}
.requestShipmentOptions >.el-dialog >.el-dialog__body {
  margin: 2% !important;
}
.view-transporter-info{
  cursor :pointer ;
}
.create-order-submit{
  width: 100%;
  margin-top: 4%;
}
.create-order-upper{
  color: #000000;
  margin-left: 7%;
}
.create-order-section{
   padding-top: 1% !important;
  -webkit-box-flex: 1;
   flex: 1;
   -webkit-box-orient: vertical;
   flex-direction: column;
   display: flex;
   -webkit-box-direction: normal;
   margin-right: 2%;
   padding: 2rem;
}
.create-order-main{
   border-radius: 4px;
   font-family: 'Helvetica Nueu', 'Helvetica', 'Arial', 'sans-serif';
   width: 44% !important;
   padding-bottom: 0;
   margin-top: 0;
   padding-top: 3%;
}
.back-order-btn{
   margin-left: 7%;
   font-size: 13px;
   margin-bottom: 6%;
   cursor: pointer;
}
.freight-input {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.freight-input>div {
  display: table-cell;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.freight-input-icon {
  padding: 3%;
  border-radius: .25rem 0 0 .25rem;
  background: #eee;
  color: #777;
  width: 11%;
  text-align: center;
  font-size: 12px;
}
.freight-input-area {
  width: 90%;
  border-radius: 0 .25rem .25rem 0;
}
.freight-selector{
  border: 0px solid #dcdfe6;
}
.freight-create-load-weight{
  width: 80% !important;
  font-style: italic;
}
.freight-tonage-value-text{
  color: #555 !important;
  padding-left: 36px;
  width: 20% !important;
  font-size: 12px;
  font-style: italic;
}
.drag-image > div > div:nth-child(1) > div > input {
  display: none;
}
.document-image> div > div:nth-child(1) > div > input {
  display: none;
}
.add-document-image> div > div:nth-child(1) > div > input {
  display: none;
}
.download-uploaded-img {
  height: 200px;
}
.add-download-uploaded-img{
  height: 200px;
}
.el-icon-upload {
  font-size: 15px!important;
  margin: 0!important;
  line-height: 0!important;
}
.upload_image {
  width: 100%;
  height: 132px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.add-upload-image{
  width: 100%;
  height: 132px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.document-upload-label {
  font-style: italic;
  font-size: 14px;
  color: #f18327;
  font-weight: 700;
  cursor: pointer;
}
.upload-demo{
  font-size: 13px !important;
}
.add-upload-demo{
  font-size: 13px !important;
}
.upload-landing{
  margin-top: 7%;
}
.transporter-input-name{
  pointer-events: none;
}
.hide {
  display: none!important;
}

li.suggestions_solr {
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
li.suggestions_solr:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
li.suggestions_solr:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
.document-upload-extra{
  font-size: 14px;
  color: #0062DB;
  font-weight: 500;
  cursor: pointer;
  margin-top: 11%;
}
.upload-document-header{
  font-weight: 100;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.documents-highlight-label{
  margin-left: 2%;
  margin-bottom: 2%;
  color: #000000;
  font-weight : 200;
}
.select-documents{
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 8%;
}
.align-new-doc{
  margin-left: 4%;
  margin-top: 5%;
}
.download-uploaded-img-extra{
  border: 1px solid #d8dfe6;
  height: 200px;
  margin-bottom: 9%;
  margin-right: 5%;
}
.upload_image-extra{
  width: 100%;
  height: 132px;
  margin-top: 6%;
  margin-bottom: 2%;
}
.success-extra{
  margin-top: 13%;
}
.documents--flex{
  display: flex;
  width: 82%;
}
.document-image-extra{
  flex: 1;
}
.delete-upload{
  margin-top: 22%;
  cursor: pointer;
  color :#ff0000;
}
.award-input--label{
  margin-bottom: 4%;
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.next-shipment-btn{
  border-width: 0px !important;
  width: 100%;
  background: #EA7125 !important;
}
.send-final-quote-btn{
  margin-left: 0px !important;
  width: 100% !important;
}
.send-quote--outer{
  width: 109% !important;
  display: flex;
}
.back-shipment-btn{
  background-color: #EA7125 !important;
  border: #EA7125 !important;
}
